.container {
  font-size: 1.25rem;
  color: var(--color-palette-white);
  margin: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid var(--color-palette-white);
}

.rating {
  color: var(--color-palette-light-green);
}

.rating-text {
  margin-left: auto;
  align-self: end;
}

.avatar img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-palette-white);
  border-radius: 50%;
  vertical-align: middle;
}

.settings {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.name-setting {
  font-size: 1.25rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  font-size: 1rem;
  height: 25px;
  background-color: var(--color-palette-white);
  border: 2px solid var(--color-palette-dark-teal);
  border-radius: 10px;
  padding: 10px;
}

button {
  font-size: 1rem;
  background-color: var(--color-palette-dark-teal);
  border: 1px solid var(--color-palette-gray);
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  filter: grayscale(50%);
  cursor: pointer;
}

.sign-out button {
  background-color: var(--color-palette-warning);
}

.title {
  font-size: 3rem;
}
