<div class="container">
  <div class="title">Registrieren</div>
  <div class="sub-container">
    <div class="input">
      <label for="name">Name</label>
      <input
        (keyup)="handleNameInput($event)"
        [class]="!this.name && this.hasTriedSubmit ? 'required' : ''"
        name="name"
        id="name"
        type="text"
        placeholder="Dein Name"
      />
    </div>
    <div class="input">
      <label for="email">E-Mail</label>
      <input
        (keyup)="handleMailInput($event)"
        [class]="!this.email && this.hasTriedSubmit ? 'required' : ''"
        name="email"
        id="email"
        type="email"
        placeholder="Deine E-Mail"
      />
    </div>
    <div class="input">
      <label for="password">Passwort</label>
      <input
        (keyup)="handlePasswordInput($event)"
        [class]="!this.password && this.hasTriedSubmit ? 'required' : ''"
        name="password"
        id="password"
        type="password"
        placeholder="Dein Passwort"
      />
    </div>
    <div class="response-container">
      {{ this.response()?.message }}
    </div>
    <div class="info">Du bist bereits registiert? Hier <a href="/login">anmelden</a>.</div>
    <div class="submit">
      <button type="submit" (click)="handleSubmit()">Registrieren</button>
    </div>
  </div>
</div>
